# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# MAC
*.DS_Store

# R
*.Rhistory
.Renviron
R_lib

# Data
cv
data/design/*/*/STAR
data/design/*/*/htseq
data/10X_FACS_reduce_*_*
*.xls
data/design/leucegene3/30_inv16/
data/design/leucegene3/30_t15_17/

# Results
data/res

#temp
tmp
